
div.page-content h2 {
    color: #666 !important;
}
div.page-content p {
    color: #888 !important;
}

div.page-content ul {
    color: #7B7B7B !important;
}


@media (max-width: 580px) {
    .slider .block h1 {
        font-weight: 100;
        font-size: 175%;
        line-height: 150%;
        letter-spacing: 0.25em;
        padding-bottom: 6%;
    }

    section.simple div.container div.row {
        display:flex;
        flex-direction: column-reverse
    }
}

@media (min-width: 580px) and (max-width: 767px) {
   
    section.simple div.container div.row {
        display:flex;
        flex-direction: column-reverse
    }
}
