{{- $footer       := .Site.Params.footer }}
{{- $logo         := index $footer "logo" }}
{{- $footerLinks  := index $footer "footerlinks" }}
{{- $productLinks := index $footer "product" }}
{{- $docLinks     := index $footer "docs" }}
{{- $socialMedia  := index $footer "socialmedia" }}
{{- $bulmaLogo    := index $footer "bulmalogo" }}
<footer class="footer footer-dark">
  <script>
    function addClass(classId, className) {
      var element = document.getElementById(classId);
      element.classList.add(className);
    }
    function removeClass(classId, className) {
      var element = document.getElementById(classId);
      element.classList.remove(className);
    }
  </script>
  <div class="container" style="border-top: solid 1px rgba(181,199,45,.5); padding-top: 2%; margin-bottom: 2%;">
    
  
    

      {{- range $footerLinks }}
        
          <div id="{{ .id }}" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              {{ $path := printf "%s.html" .id }}
              {{ partial $path . }}
            </div>

            <button class="modal-close is-large" onclick="removeClass({{ .id }},'is-active')" aria-label="close"></button>

          </div>
          
          
            
          
        <ul style="display: inline-block; margin-right: 20px;"><li>
        <a href="#" onclick="addClass({{ .id }},'is-active')">{{ .linkname }}</a>
        </li></ul>

      {{- end }}
      
        
   
  </div>
</footer>
