{{- $jivoId       := .Site.Params.jivoid }}
{{- $analyticsId  := .Site.Params.analyticsid }}

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>

<meta name="author" content="Session Technologies">
<meta name="description" content="Session Technologies - claim your time back">
<meta property="og:description" content="Session Technologies - claim your time back">
<meta property="og:url" content="https://session.it">
<meta property="og:title" content="Session Technologies">
<meta property="og:title" content="Session Technologies">
<meta property="og:type" content="website">
<meta property="og:image" content="https://session.it/images/logos/sessiontechnologies-squared.png">
<meta property="og:locale" content="es_ES">

<meta name="twitter:title" content="Session Technologies">
<meta name="twitter:description" content="Claim your time back">
<meta name="twitter:card" content="summary"> 

<meta property="st:title" content="Session Technologies">
<meta property="st:image" content="https://session.it/images/logos/sessiontechnologies-squared.png">

<script>
// Don't force https when serving the website locally
if (!(window.location.host.startsWith("127.0.0.1") && !(window.location.host.startsWith("localhost")) && (window.location.protocol != "https:"))
    window.location.protocol = "https";
</script>

{{- if $jivoId }}
<!-- BEGIN JIVOSITE CODE {literal} -->
<script>
(function(){ var widget_id = '{{ $jivoId }}';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
{{- end }}

{{- if $analyticsId }}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ $analyticsId }}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', '{{ $analyticsId }}');
	</script>
{{- end }}