<h1>Privacy policy</h1>

<p>Session Technologies SL is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</p>

<p>This privacy policy describes how we collect and use personal information about you, in accordance with the General Data Protection Regulation (GDPR).</p>

<p>We will collect, store, and use the following categories of personal information about you:</p>

<h2>Website and cookies</h2>

<p>We do not collect any personal information about our website visitors. We do use Google Analytics for monitoring traffic to our website.</p>

<h2>How we use your personal information</h2>

<p>We will use your personal information solely for the purpose for which it was provided and share it with Session Technologies  partners, staff and consultants on a ‘need to know’ basis. We will not use your data for other purposes without your explicit consent.</p>

<h2>Security</h2>

<p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

<h2>Company Registration Information</h2>

<p>Session Technologies SL is a company registered in Spain. Company Registration number B67042432</p>