{{- $products := .Site.Params.products }}
{{- if $products }}
  {{- $ancor    := index $products "ancor" }}
  {{- $title    := index $products "title" }}
  {{- $subtitle := index $products "subtitle" }}
  {{- $tiles    := index $products "tiles" }}
  <section id="{{ $ancor }}" class="section section-feature-grey is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">{{ $title }}</h2>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
        <div class="columns">
          {{- range $tiles }}
          <div class="column is-one-third">
            <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
              <div class="card-title">
                <h4>{{ .title }}</h4>
              </div>
              <div class="card-icon">
                  <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}" alt="Servicio {{ .icon }}">
              </div>
              <div class="card-text">
                  <p>{{ .text }}</p>
              </div>
              {{- if .url }}
              <div class="card-action">
                <a href="{{ .url }}" style="font-size:1.3rem" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
              </div>
              {{- end }}
            </div>
          </div>
          {{- end }}
        </div>
      </div>
    </div>
  </section>
{{- end }}